# Chi-square test

***

### Laerd Statistis Chi-square

In [24]:
import pandas as pd
import random 
import scipy.stats as ss

In [2]:
male_books=[['Male', 'Books']]*16

In [3]:
female_books=[['Female', 'Books']]*13

In [10]:
male_online=[['Male', 'Online']]*24

In [11]:
female_online=[['Female', 'Online']]*27

# raw data - merge the four lists

In [12]:
raw_data=male_books+female_books+male_online+female_online

In [13]:
#Zip the list 
# interchanges the outer and the inner list

gender, medium = list(zip(*raw_data))

# show
#gender, medium

In [14]:
#shuffle the data
random.shuffle(raw_data)

#raw_data

In [17]:
# create a data frame
df=pd.DataFrame({'gender':gender, 'medium':medium})

# show
df

    gender  medium
0     Male   Books
1     Male   Books
2     Male   Books
3     Male   Books
4     Male   Books
..     ...     ...
75  Female  Online
76  Female  Online
77  Female  Online
78  Female  Online
79  Female  Online

[80 rows x 2 columns]

## Add contingency table
***

In [31]:
# indicates the unique cell values within the input and tell me how many are there of each of the individual values

cross=ss.contingency.crosstab(df)

cross

cross.elements
cross.count

array([29, 40, 40, 51])

In [50]:
#but we want the intersection of the 1st column with the 2nd column not that the data is being considereed individually as it is


cross=ss.contingency.crosstab(df['gender'], df['medium'])


cross.count

first, second= cross.elements

first, second

# Find all row in df which are females and medium

df[df['gender']== first [0]][df['medium']== second[1]]

C:\Users\andreia\AppData\Local\Temp\ipykernel_10236\4183196882.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['gender']== first [0]][df['medium']== second[1]]

    gender  medium
53  Female  Online
54  Female  Online
55  Female  Online
56  Female  Online
57  Female  Online
58  Female  Online
59  Female  Online
60  Female  Online
61  Female  Online
62  Female  Online
63  Female  Online
64  Female  Online
65  Female  Online
66  Female  Online
67  Female  Online
68  Female  Online
69  Female  Online
70  Female  Online
71  Female  Online
72  Female  Online
73  Female  Online
74  Female  Online
75  Female  Online
76  Female  Online
77  Female  Online
78  Female  Online
79  Female  Online

In [54]:
# Do the statistics

results= ss.chi2_contingency (cross.count, correction=False)

results.expected_freq

array([[14.5, 25.5],
       [14.5, 25.5]])

In [58]:
# Prefered books
29/80

# If no relationship between gender and medium 
# then we should have the same proportion of males
40*(29/80)

14.5

***

### End