# Chi-square test

***

### Laerd Statistis Chi-square

In [1]:
import pandas as pd
import random

In [2]:
male_books=[['Male', 'Books']]*16

In [3]:
female_books=[['Female', 'Books']]*13

In [10]:
male_online=[['Male', 'Online']]*24

In [11]:
female_online=[['Female', 'Online']]*27

# raw data - merge the four lists

In [12]:
raw_data=male_books+female_books+male_online+female_online

In [13]:
#Zip the list 
# interchanges the outer and the inner list

gender, medium = list(zip(*raw_data))

# show
#gender, medium

In [14]:
#shuffle the data
random.shuffle(raw_data)

#raw_data

In [15]:
# create a data frame
df=pd.DataFrame({'gender':gender, 'medium':medium})

# show
df

    gender  medium
0     Male   Books
1     Male   Books
2     Male   Books
3     Male   Books
4     Male   Books
..     ...     ...
75  Female  Online
76  Female  Online
77  Female  Online
78  Female  Online
79  Female  Online

[80 rows x 2 columns]

***

### End